<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
  
        <button class="btn btn-success btn-block" (click)="ingresar()">{{logueado ? "Salir" : "Ingresar"}}</button>
        <app-login *ngIf="!logueado"></app-login>
        <app-aulas *ngIf="logueado"></app-aulas>
  
      </div>
    </div>
  </div> -->
  <app-login *ngIf="!logueado" (onLogging)="ingresar($event)"></app-login>
  <app-aulas *ngIf="logueado" [aulasDisponibles]="aulasDisponibles"></app-aulas>
  <!-- <app-aulas *ngIf="logueado" ></app-aulas> -->